<!--  Footer social links -->

<li class="d-inline-block ml-1 mr-1"><a target="_blank" href="https://www.linkedin.com/in/purcell-molly" aria-label="LinkedIn"><i class="fab fa-linkedin-in" aria-hidden="true"></i></a>
</li>

<li class="d-inline-block ml-1 mr-1"><a target="_blank" href="https://github.com/MollyPW" aria-label="GitHub"><i class="fab fa-github" aria-hidden="true"></i></a>
</li>

<li class="d-inline-block ml-1 mr-1"><a target="_blank" href="https://www.salesforce.com/trailblazer/molly-purcell-weatherwalks" aria-label="Salesforce Trailhead"><img src="{{ site.baseurl }}/assets/images/trailhead-icon.png" class="footer-icon-img" alt=""></a>
</li>
